*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    /* border: border-box; */
}

.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
}
.nav-logo{
    height: 50px;
    width: 60px;
}
.logo{
    background-image: url('./amazone.png');
    height: 50px;
    width: 100%;
}